@import './assets/stylesheets/main.scss';

#toolbox-app {
    display: flex;

    #dash-container {
        width: (722/$desktop) * 100vw;
        border-left: 1px solid #000;
        height: 100vh;
        position: relative;
        
        
    }
    #subclass-container {
        width: (1198/$desktop) * 100vw;
        height: 100vh;
        position: relative;
        overflow-y: scroll;
    }
}