@import './../../../assets/stylesheets/main.scss';

.nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   // height: 40px;
    .nav-row {
      
        display: flex;
      //  border: 1px solid #000;

        .nav-item {
            flex-grow: 1;
            padding: 20px;
            padding-left: $DwS;
            font-size: 22px;
           // padding: 20px;
            border-top: 1px solid #000;
            transition: color 300ms $easeInOut3, background-color 300ms $easeInOut3;
            &:hover {
                cursor: pointer;
                background-color: #707070;
                h3{
                color: #fff;
                } 
            }
        }
    }
}