@import "./../../assets/stylesheets/main.scss";

.profile-content {
  padding: $DwS;
  // padding-bottom: 2px;
}
.test {
  color: blue;
}

.input-heading {
  padding-top: 20px;
  // padding-bottom: 2px;
}
.test {
  color: blue;
}
.profile-actions-container {
  position: absolute;
  background-color: #fff;
  //height: 200px;
  width: 100%;
  // bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border: none;
  //border-top: 1px solid #000;

  display: flex;
  padding-bottom: 2px;
  transition: transform 500ms $easeInOut3;

  .input-btn {
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    // border:none;
    // border-top: 1px solid #000;
    //  border: none;
  }

  .input-heading {
    padding-bottom: 40px;
  }
}
.round-img {
  border-radius: 50%;
  width: 100px;
}

.portfolio-board {
  .portfolio {
    margin-top: 40px;
    border-bottom: 1px solid #707070;
    padding-bottom: 20px;
    h4 {
      font-size: 14px;
    }
    h3 {
    }

    .buttom-container {
    }
  }
}
