@import "./../../assets/stylesheets/main.scss";

.friend-container {
  padding: ($DwS/2) $DwS;
  .page-heading {
    margin-bottom: 50px;
  }
  .post-board {
    .post {
      margin-top: 40px;
      border-bottom: 1px solid #707070;
      padding-bottom: 20px;
      h4 {
        font-size: 14px;
      }
      h3 {
      }

      .buttom-container {
      }
    }
  }
  .friend-list {
    width: 400px;

    .friend-item {
      border: 1px solid #000;
      margin-bottom: 20px;
      width: (450/1920) * 100vw;
      height: 125px;
      display: flex;

      .friend-image {
        width: 38%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      .friend-info {
        width: 62%;
        display: flex;
        justify-content: space-between;
        
        h2 {
          font-size: (22/1920) * 100vw;
        }
        h3 {
          font-size: (18/1920) * 100vw;
        }
        .meta-info {
          padding : 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
        .link-contents {

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .side-btn {
            background-color: #fff;
            border: none;
            border-left: 1px solid #000;
            height: 50%;
            width: 80px;
            &.long {
              border-bottom: 1px solid #000;
              width: 100px;
            }
          }
        }
      }
    }
  }
}
