@import "./../../../assets/stylesheets/main.scss";

.post-content {

  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  width: (1320/$desktop) * 100vw;
  background-color: #fff;
  transform: translateY(-100%);

  transition: transform 500ms $easeInOut3 500ms;

  
  .post-left-column {
    transform: translateY(100px);
    opacity: 0;
    width: 70%;
    box-sizing: border-box;
    transition: opacity 400ms $easeInOut3  300ms, transform 600ms $easeInOut3  300ms;
  } 
  .post-right-column {
    transform: translateY(100px);
    opacity: 0;
    width: 30%;
    box-sizing: border-box;
    padding-left: 40px;
    transition: opacity 400ms $easeInOut3, transform 600ms $easeInOut3;
  }

  &.active {
    transform: translateY(0%);
    transition: transform 500ms $easeInOut3;

    .post-left-column, .post-right-column  {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 500ms $easeInOut3 500ms, transform 600ms $easeInOut3 500ms;
    }
    .post-right-column {
      transition: opacity 500ms $easeInOut3 800ms, transform 600ms $easeInOut3 800ms;
    }
   
  }
  .status {
    text-transform: capitalize;

    &.active {
      color: green;
    }
    &.Completed {
      color: red;
    }
    color: orange;
  }
  .post-template {
    padding: $DwS;
    display: flex;
    justify-content: space-between;


  .image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    .image-item {
     
      width: 48%;
      margin-bottom: 20px;
      box-sizing: border-box;
      height: 10vw;
      background-size: cover;
      background-position: center;

      &:nth-child(even) {
        margin-left: 20px;
      }
    }
  }
  .assigned {
    padding-top: 50px;
    margin-right: 5px;

  }
    .interest-container {
      display: flex;
      flex-direction: column;

      .int-item {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }


    }

    .lnr-map-marker {
      font-size: 60px;
    }

    p {
      padding-top: 40px;
    }

    .post-btn {
      width: 100%;
    }
    .location {

    }
    .close-project-container {
      padding-top: 40px;
      p{
        padding: 0;
      }
      .buttom-container {
        // margin-top: 20px;
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
    .buttom-container {
      // margin-top: 20px;
     
      button {
        width: 100%;
      }
    }
    .tags-display {
      margin-bottom: 40px;
      h3 {
        color: orange;
      }
    }
    .friend-container {
      padding: ($DwS/2) $DwS;

      .page-heading {
        margin-bottom: 50px;
      }

      .post-board {
        .post {
          margin-top: 40px;
          border-bottom: 1px solid #707070;
          padding-bottom: 20px;

          h4 {
            font-size: 14px;
          }

          h3 {}

          .buttom-container {}
        }
      }


      



      .contact-meta-info {
        margin-top: 20px;

        .input-btn {
          width: 100%;
        }

        .contact-row {
          display: flex;


          .column {
            width: (300/1920) * 100vw;

            &.last {
              padding-left: 20px;
            }


            .skill-container {

              display: flex;
              flex-wrap: wrap;

              h4 {
                padding: (12/1920) *100vw;
                background-color: #707070;
                color: #fff;
                margin-right: 5px;
                font-size: (18/1920) * 100vw;
              }
            }
          }
        }

      }
    }
  }
  };
      .close-content {
        padding: 20px $DwS;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        // padding-top: 15px;
        
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #000;
        transition: background-color 500ms $easeInOut3;

        h3 {
          font-size: 1.25vw;  // line-height: 0;
          margin: 0;
        }

        svg {

        }

        &:hover {
          background-color: #000;
          cursor: pointer;
          color: #fff;
        }
    }


    @media(max-width: $semi-mobile) {
      .post-content {
        width: 100%;
        bottom: 50px;
        overflow-y: scroll;
      }

      .post-content .post-template {
        flex-direction: column;

      }
      .post-content .post-right-column {
        width: 100%;
        padding: 0;
      }
      .post-content .post-template .image-container {
        width: 100%;
        .image-item {
          width: 100%;
          margin-bottom: 10px;
          height: 200px;
        }
      }
      .post-content .post-template .image-container .image-item:nth-child(even) {
        margin: 0;
        margin-bottom: 10px;
      }
      .post-content .post-left-column, .post-right-column {
        width: 100%;
      }
      .close-content {
        bottom: auto;
        h3 {
          font-size: 5vw;
        }
      }
      

    }




