@import "./../../../assets/stylesheets/main.scss";

.post-content {
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  width: (1198 / $desktop) * 100vw;
  background-color: #fff;
  transform: translateY(-100%);

  transition: transform 500ms $easeInOut3;

  &.active {
    transform: translateY(0%);
  }

  .post-template {
    padding: $DwS;


    .interest-container {
      display: flex;
      flex-direction: column;
    }

    .lnr-map-marker {
      font-size: 60px;
    }

    p {
      padding-top: 40px;
    }



    .friend-container {
      padding: ($DwS/2) $DwS;

      .page-heading {
        margin-bottom: 50px;
      }

      .post-board {
        .post {
          margin-top: 40px;
          border-bottom: 1px solid #707070;
          padding-bottom: 20px;

          h4 {
            font-size: 14px;
          }

          h3 {}

          .buttom-container {}
        }
      }








      .contact-meta-info {
        margin-top: 20px;

        .input-btn {
          width: 100%;
        }

        .contact-row {
          display: flex;


          .column {
            width: (300/1920) * 100vw;

            &.last {
              padding-left: 20px;
            }


            .skill-container {

              display: flex;
              flex-wrap: wrap;

              h4 {
                padding: (12/1920) *100vw;
                background-color: #707070;
                color: #fff;
                margin-right: 5px;
                font-size: (18/1920) * 100vw;
              }
            }
          }
        }

      }
    }
  }
  };
      .close-content {
        padding: 21px $DwS;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        border-top: 1px solid #000;
        transition: background-color 500ms $easeInOut3;

        &:hover {
          background-color: #000;
          cursor: pointer;
          color: #fff;
        }
    }




