
@import './../../../assets/stylesheets/main.scss';
.user-item {
    box-sizing: border-box;
   // border-bottom: 1px solid #000;
   
    .user-detail {
        padding-left: $DwS;
        padding-top: 20px;
        h3 {
            font-size: $h3Size;
        }
    }
    
    .user-picture {
        height: 260px;
        width: 100%;
        background-position: center;
        background-size: cover; 
        border-bottom: 1px solid #000;
    }
}