@import "./../../assets/stylesheets/main.scss";

.home-container {
  padding: ($DwS/2) $DwS;
  // opacity: 0;
  // transform: scale(0.8);
  // transition: opacity 800ms $easeInOut3 300ms, transform 700ms $easeInOut3 300ms;

  // &.lazyLoad {
  //   opacity: 1;
  //   transform: scale(1);
  // }
  .page-heading {
    margin-bottom: 50px;
  }
  .post-board {
    .post {
      margin-top: 50px;
      border-bottom: 1px solid #707070;
      padding-bottom: 50px;

      .preview-images {
        padding-bottom: 20px;
        display: flex;

        .image-item {
          width: 200px;
          height: 150px;
          margin-right: 10px;
          background-size: cover;
          background-position: center;
        }
        img {
          width: 200px;
        }
      }
      .status {
        text-transform: capitalize;

        &.active {
          color: green;
        }
        &.Completed {
          color: red;
        }
        color: orange;
      }

      .tags {
        color: orange;
      }
    }

    h4 {
      font-size: 14px;
    }
    h3 {
    }

    .buttom-container {
    }
  }
}
