@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff'),
        url('Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./Poppins-Light.eot');
    src: local('Poppins Light'), local('Poppins-Light'),
        url('./Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('./Poppins-Light.woff2') format('woff2'),
        url('./Poppins-Light.woff') format('woff'),
        url('./Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('LibreBaskerville-Regular.eot');
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
        url('LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('LibreBaskerville-Regular.woff2') format('woff2'),
        url('LibreBaskerville-Regular.woff') format('woff'),
        url('LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



