h1 {
    color: #707070;
   font-size: (44/1920) * 100vw;
}
h2 {
    font-size: $h2Size;
}
h3 {
    font-size: (18/1920)* 100vw;
}
h4 {
    font-size: (12/1920)* 100vw;
}

a {
    color: #707070;
}

@media(max-width: $semi-mobile) {
    h1 {
        font-size: (44/720) * 100vw;
    }
    
    h2 {
        font-size: $m-h2Size;
    }
    h3 {
        font-size: (35/720)* 100vw;
    }
    h4 {
        font-size: (12/720)* 100vw;
    }
    
}