//Text Sizes



p,h1,h2,h3,h4,h5,button {
    -webkit-font-smoothing: subpixel-antialiased;
    color: #707070;
}

h1,h2 {
  color: #000;
}
input {
    font-size: 18px;
    font-family: $mainTextL;
    color: $mainTextColor;
    letter-spacing: $sansSerifSpacing;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeHolderColor;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $placeHolderColor;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $placeHolderColor;
    }

}

.input-btn {
  border: 1px solid #707070;
  background-color: transparent;
  padding: 5px 40px;
  padding-top: 10px;
  position: relative;
  display: block;
  width: 38.9%;


  .button-bar {
    display: block;
    pointer-events: none;
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    background-color: #707070;
  
    transition: height 400ms $easeInOut3;
  }
  h4 {
    pointer-events: none;
    font-size: 14px;
    position: relative;
    padding: 0;
    z-index: 1;
    color: #707070;
    transition: color 200ms $easeInOut3;
    
  }
  &.cancel {
    width: auto; 
    margin-left: 10px;
    opacity: 0.5;
  }
  &:hover {
    .button-bar {
      height: 100%;
    }
    h4 {
      color: #fff;
    }
  }
}

textarea {
    background-color: transparent;
    color: $mainTextColor;
    width: 100%;
    font-family: $mainTextL;
    font-size: 12px;
    margin-top: 5px;
    height: 130px;
}

.form-wrapper {
  padding-left: $DwS;
  padding-right: $DwS;

  &.margin {
      padding: ($marginD/$desktop) * 100vw;
  }
  &.half-margin {
    padding: (($marginD/2)/$desktop) * 100vw;
  }
}
.form-row {
  display: flex;
  margin: 0;
  
}
.form-column {
  flex-grow: 1;
  margin: 0;

 
  // &:first-child {
  //   padding-left: 0px;
  // }


}


.input-row {
  display: flex;
  justify-content: flex-start;


  .input-wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;

  //margin-right: (20/$desktop) * 100vw;
  &:nth-child(even) {
    margin-right: 0;
    margin-left: (40/$desktop) * 100vw;
  }

    input {

      background-color: transparent;
      border: 1px solid #707070;
      padding-bottom: 7px;
      padding-top: 8px;
      padding-left: 10px;
      width: 100%;
      font-size: $dashInputSize;


    }

    label {
      display: block;
      margin: 0;
      font-size: 12px;
      color: #707070;
    }
  }
}

.input-info {
  padding-top: 20px;
}

//Remove Default Styles

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


@media(max-width: 460px) {
    .form-column {
        padding-left: 0;
    }
}
//presets
textarea, input, button { outline: none; }
//input {-webkit-appearance: none;}
button:focus {outline:0;};


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 // border: inherit;
// -webkit-text-fill-color: transparent;
    color: $backgroundColor;
  //-webkit-box-shadow: 0 0 0px 1000px #000 inset;
  //transition: background-color 5000s ease-in-out 0s;
}