$headerFont: "Libre Baskerville";
$mainTextL: 'Poppins-Light';
$mainTextR: 'Poppins-Regular'; 

//Lengths
$dashLength: 722;

//margins

//Desktop sizes
$marginD: 80;

//Sizes
$desktop: 1920;

//Spacing 

$DwS: (80/1920) * 100vmax; 

//Text spacing
$headingLineHeight: 1.6em;
$headingLetterSpace: 0.06em;
$sansSerifSpacing: 0.05em;

//Curves
$easeInOut3: cubic-bezier(.79,.01,.14,.99);
$easeInOut2: cubic-bezier(0.56, 0, 0.38, 1.01);

//Fonts size

//h1
$h1Size: (64/1920) * 100vmax;
$h2Size: (34/1920) * 100vmax;
$h3Size: (24/1920) * 100vmax;